<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.tenohira.magazinemanager.domain.repository.ArticleMapper">
	
	<resultMap type="xyz.tenohira.magazinemanager.domain.model.Article" id="article">
		<result column="section" property="section" />
		<result column="title" property="title" />
		<result column="start_page" property="startPage" />
	</resultMap>
	
	<!-- 複数レコード取得メソッド -->
	<select id="selectList" parameterType="int" resultMap="article">
		SELECT
			section,
			title,
			start_page
		FROM article
		WHERE magazine_id = #{magazineId}
	</select>
	
	<!-- 削除メソッド -->
	<delete id="delete" parameterType="int">
		DELETE FROM article WHERE magazine_id = #{magazineId}
	</delete>
	
	<!-- 登録メソッド -->
	<insert id="insert" parameterType="xyz.tenohira.magazinemanager.domain.model.Article">
		INSERT INTO article(magazine_id, section, title, start_page, update_time)
		VALUES(#{magazineId}, #{section}, #{title}, #{startPage}, CURRENT_TIMESTAMP)
	</insert>
</mapper>
