<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>雑誌一覧</title>
</head>
<body>
	<a th:href="@{/}">MagazineManager</a>
	<a th:href="@{/login}" role="presentation" sec:authorize="isAnonymous()">ログイン</a>
	<a th:href="@{/logout}" role="presentation" sec:authorize="hasRole('ADMIN')">ログアウト</a>
	
	<h1>雑誌一覧</h1>
	
	<a th:href="@{/register}" role="presentation" sec:authorize="hasRole('ADMIN')">雑誌登録</a><br>
	
	<form method="post">
		<table>
			<tr>
				<th>雑誌名</th>
				<th>号数</th>
				<th>詳細</th>
				<th>目次</th>
				<th>索引</th>
				<th  role="presentation" sec:authorize="hasRole('ADMIN')">削除</th>
			</tr>
			<tr th:each="magazine : ${magazineListForm.magazineList}">
				<td th:text="${magazine.name}"></td>
				<td th:text="${magazine.number}"></td>
				<td>
					<a th:href="@{'/detail/' + ${magazine.id}}">詳細</a>
				</td>
				<td>
					<a th:href="@{'/contents/' + ${magazine.id}}">目次</a>
				</td>
				<td>
					<a th:href="@{'/index/' + ${magazine.id}}">索引</a>
				</td>
				<td  role="presentation" sec:authorize="hasRole('ADMIN')">
					<button type="submit" th:formaction="@{'/list/delete/' + ${magazine.id}}">削除</button>
				</td>
			</tr>
		</table>
	</form>

</body>
</html>